@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");

.adapter-react-button {
    display: inline-flex;
    color: #fff;
    cursor: pointer;
    height: 48px;
    background-color: #0f111a;
    border: none;
    border-radius: 4px;
    align-items: center;
    padding: 0 24px;
    font-size: 16px;
    font-weight: 600;
    line-height: 48px;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    white-space: pre
}

button.adapter-react-button {
    display: inline-flex;
    color: #fff;
    cursor: pointer;
    height: 48px;
    background-color: #6001ff;
    border: none;
    border-radius: 8px !important;
    align-items: center  !important;
    justify-content: center !important;
    padding: 0 24px;
    font-size: 16px;
    font-weight: 600;
    line-height: 48px;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    white-space: pre;
}
.adapter-react-button:button {
    display: inline-flex;
    color: #fff;
    cursor: pointer;
    height: 48px;
    background-color: #6001ff;
    border: none;
    border-radius: 8px !important;
    align-items: center  !important;
    justify-content: center !important;
    padding: 0 24px;
    font-size: 16px;
    font-weight: 600;
    line-height: 48px;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    white-space: pre;
}


.button{
    display: inline-flex;
    color: #fff;
    cursor: pointer;
    height: 48px;
    background-color: #6001ff;
    border: none;
    border-radius: 8px !important;
    align-items: center  !important;
    justify-content: center !important;
    padding: 0 24px;
    font-size: 16px;
    font-weight: 600;
    line-height: 48px;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    white-space: pre;

}

.adapter-react-button:focus {
    outline: none
}

.adapter-react-button:focus-visible {
    outline: 2px solid #fff
}

.adapter-react-button:not([disabled]):hover {
    background-color: #373c47
}

.adapter-react-button[disabled] {
    background: #404144;
    color: #999;
    cursor: not-allowed
}

.adapter-react-button .button-icon {
    margin-right: 12px
}

.adapter-react-button .button-icon,
.adapter-react-button .button-icon img {
    display: block;
    width: 28px;
    height: 28px
}

.adapter-modal {
    position: fixed;
    left: 0;
    top: 0;
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;
    inset: 0;
    background-color: rgba(0, 0, 0, .6);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all .2s ease-in-out;
    overflow: hidden;
    z-index: 9999999999999 !important;
    padding: 40px 20px 20px;
    opacity: 0;
    pointer-events: none
}



.adapter-modal-fade-in {
    opacity: 1;
    pointer-events: auto;
    transform: scale(1);
    z-index: 9999999999999 !important;
}

.adapter-modal-wrapper {
    width: 100%;
    max-width: 400px;
    background-color: #282c34;
    border-radius: 10px;
    color: #fff;
    display: flex;
    flex-direction: column;
    font-size: 2rem;
    box-shadow: 0 8px 20px rgba(0, 0, 0, .6);
    font-family: DM Sans, Roboto, Helvetica Neue, Helvetica, Arial, sans-serif;
    z-index: 99999999999999 !important;
}

.adapter-modal-wrapper .adapter-list {
    padding-bottom: 48px
}

.adapter-modal-header {
    position: relative;
    padding: 64px 48px 48px
}

.adapter-modal-header .adapter-modal-title {
    font-size: 24px;
    font-weight: 500;
    line-height: 34px;
    text-align: center
}

@media (max-width:374px) {
    .adapter-modal-header .adapter-modal-title {
        font-size: 18px
    }
}

.adapter-modal-header .close-button {
    width: 40px;
    height: 40px;
    position: absolute;
    cursor: pointer;
    background: #1a1f2e;
    border: none;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    padding: 12px;
    display: flex;
    top: 18px;
    right: 18px;
    -webkit-tap-highlight-color: transparent
}

.adapter-modal-header .close-button:focus {
    outline: none
}

.adapter-modal-header .close-button:focus-visible {
    outline: 2px solid #fff
}

.adapter-modal-header .close-button:after,
.adapter-modal-header .close-button:before {
    content: "";
    display: block;
    width: 19px;
    height: 2px;
    background-color: #777;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto
}

.adapter-modal-header .close-button:before {
    transform: rotate(45deg)
}

.adapter-modal-header .close-button:after {
    transform: rotate(-45deg)
}

.adapter-modal-header .close-button:hover:after,
.adapter-modal-header .close-button:hover:before {
    background-color: #faebd7
}

.adapter-wallet-item .adapter-react-button {
    color: white !important;
    width: 100%;
    background-color: transparent
}

.adapter-wallet-item .status-text {
    opacity: .6;
    margin-left: auto;
    font-size: 14px;
    font-weight: 400
}

.adapter-dropdown {
    position: relative;
    z-index: 99;
    display: inline-block
}

.adapter-dropdown-collapse {
    position: absolute;
    margin: auto;
    top: 100%;
    right: 0;
    left: 0;
    display: inline-flex
}

.adapter-dropdown-list {
    margin: 0 auto;
    width: 150px;
    list-style-type: none;
    border-radius: 10px;
    font-family: DM Sans, Roboto, Helvetica Neue, Helvetica, Arial, sans-serif;
    flex-direction: column;
    position: relative;
    top: 5px;
    padding: 5px;
    overflow: hidden;
    height: min-content;
    background: #2c2d30
}

.adapter-dropdown-list li {
    display: block;
    margin: auto;
    color: #fff;
    cursor: pointer;
    white-space: nowrap;
    box-sizing: border-box;
    width: 100%;
    height: 37px;
    border: none;
    border-radius: 6px;
    outline: none;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    font-size: 14px;
    font-weight: 600;
    display: flex
}

.adapter-dropdown-list li:not([disabled]):hover {
    background-color: #373c47
}

.swal2-popup-square,
swal2-popup {
    font-family: var(--w3m-font-family);
    color: var(--w3m-color-fg-1);
    font-size: 1rem
}

#web3-notification {
    z-index: 100000
}

body {
    --w3m-color-fg-1: #e4e7e7;
    --w3m-color-fg-2: #949e9e;
    --w3m-color-fg-3: #6e7777;
    --w3m-color-bg-1: #141414;
    --w3m-color-bg-2: #272a2a;
    --w3m-color-bg-3: #3b4040;
    --w3m-color-overlay: hsla(0, 0%, 100%, .1);
    --w3m-accent-color: #3396ff;
    --w3m-accent-fill-color: #fff;
    --w3m-z-index: 10000;
    --w3m-background-color: #3396ff;
    --w3m-background-border-radius: 8px;
    --w3m-container-border-radius: 30px;
    --w3m-wallet-icon-border-radius: 15px;
    --w3m-wallet-icon-large-border-radius: 30px;
    --w3m-wallet-icon-small-border-radius: 7px;
    --w3m-input-border-radius: 28px;
    --w3m-button-border-radius: 10px;
    --w3m-notification-border-radius: 36px;
    --w3m-secondary-button-border-radius: 28px;
    --w3m-icon-button-border-radius: 50%;
    --w3m-button-hover-highlight-border-radius: 10px;
    --w3m-text-big-bold-size: 20px;
    --w3m-text-big-bold-weight: 600;
    --w3m-text-big-bold-line-height: 24px;
    --w3m-text-big-bold-letter-spacing: -0.03em;
    --w3m-text-big-bold-text-transform: none;
    --w3m-text-xsmall-bold-size: 10px;
    --w3m-text-xsmall-bold-weight: 700;
    --w3m-text-xsmall-bold-line-height: 12px;
    --w3m-text-xsmall-bold-letter-spacing: 0.02em;
    --w3m-text-xsmall-bold-text-transform: uppercase;
    --w3m-text-xsmall-regular-size: 12px;
    --w3m-text-xsmall-regular-weight: 600;
    --w3m-text-xsmall-regular-line-height: 14px;
    --w3m-text-xsmall-regular-letter-spacing: -0.03em;
    --w3m-text-xsmall-regular-text-transform: none;
    --w3m-text-small-thin-size: 14px;
    --w3m-text-small-thin-weight: 500;
    --w3m-text-small-thin-line-height: 16px;
    --w3m-text-small-thin-letter-spacing: -0.03em;
    --w3m-text-small-thin-text-transform: none;
    --w3m-text-small-regular-size: 14px;
    --w3m-text-small-regular-weight: 600;
    --w3m-text-small-regular-line-height: 16px;
    --w3m-text-small-regular-letter-spacing: -0.03em;
    --w3m-text-medium-regular-size: 16px;
    --w3m-text-medium-regular-weight: 600;
    --w3m-text-medium-regular-line-height: 20px;
    --w3m-text-medium-regular-letter-spacing: -0.03em;
    --w3m-text-medium-regular-text-transform: none;
    --w3m-font-family: Inter, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    --w3m-font-feature-settings: \'tnum\' on, \'lnum\' on, \'case\' on;
    --w3m-success-color: #26b562;
    --w3m-error-color: #f25a67;
    --w3m-overlay-background-color: rgba(0, 0, 0, .3);
    --w3m-overlay-backdrop-filter: blur(6px);
    --w3m-background-image-url: none
}

.swal2-popup {
    border: 1px solid #272a2a;
    border-radius: var(--w3m-container-border-radius);
    background-color: var(--w3m-color-bg-1)
}

.swal2-popup-square {
    width: 100%;
    max-width: 360px;
    padding-bottom: 0;
    border-radius: 32px;
    background-color: color-mix(in srgb, #fff 0, #191a1a);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none
}

.swal2-sub-footer,
.swal2-sub-header,
.swal2-subtext,
.swal2-title {
    font-family: Arial, Helvetica, sans-serif
}

.swal2-sub-header {
    height: 64px;
    border-bottom: 1px solid #252626;
    font-size: var(--w3m-text-medium-regular-size);
    display: flex;
    align-items: center;
    justify-content: right;
    font-weight: 700
}

.swal2-subtext {
    color: var(--w3m-color-fg-1);
    font-size: var(--w3m-text-medium-regular-size);
    font-weight: var(--w3m-text-medium-regular-weight);
    margin-bottom: 8px
}

.swal2-confirm-button {
    background-color: var(--w3m-accent-color);
    color: #fff;
    border: none;
    box-shadow: none;
    border-radius: var(--w3m-wallet-icon-border-radius);
    font-weight: 600;
    padding: 10px 24px;
    margin: 0;
    cursor: pointer
}

.swal2-footer {
    margin: 1em 0 0;
    padding: 1em 1em 0;
    border: 0
}

.swal2-title {
    border: 0 solid #272a2a;
    border-bottom: 1px;
    padding-bottom: 1.5vh;
    font-size: var(--w3m-text-big-bold-size);
    font-weight: var(--w3m-text-big-bold-weight)
}

.swal2-sub-footer {
    padding: 0 30px 30px;
    border: 0;
    border-top: 1px;
    color: #949e9e;
    font-size: var(--w3m-text-small-thin-size);
    font-weight: var(--w3m-text-small-thin-weight);
    margin-top: 0
}

.wallet-icon-container {
    position: relative;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    transform: translateZ(0)
}

.swal2-large-image {
    border-radius: var(--w3m-wallet-icon-large-border-radius);
    width: 90px;
    height: 90px
}

.wallet-spinner-svg {
    stroke-width: 4px;
    position: absolute;
    stroke: var(--w3m-accent-color)
}

.swal2-minimal-footer {
    margin: 0;
    padding: 0
}

.flex-center {
    padding-top: 30px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center
}

.swal2-popup.swal2-toast {
    box-sizing: border-box;
    grid-column: 1/4 !important;
    grid-row: 1/4 !important;
    grid-template-columns: min-content auto min-content;
    padding: 1em;
    overflow-y: hidden;
    background: #fff;
    box-shadow: 0 0 1px rgba(0, 0, 0, .075), 0 1px 2px rgba(0, 0, 0, .075), 1px 2px 4px rgba(0, 0, 0, .075), 1px 3px 8px rgba(0, 0, 0, .075), 2px 4px 16px rgba(0, 0, 0, .075);
    pointer-events: all
}

.swal2-popup.swal2-toast>* {
    grid-column: 2
}

.swal2-popup.swal2-toast .swal2-title {
    margin: .5em 1em;
    padding: 0;
    font-size: 1em;
    text-align: initial
}

.swal2-popup.swal2-toast .swal2-loading {
    justify-content: center
}

.swal2-popup.swal2-toast .swal2-input {
    height: 2em;
    margin: .5em;
    font-size: 1em
}

.swal2-popup.swal2-toast .swal2-validation-message {
    font-size: 1em
}

.swal2-popup.swal2-toast .swal2-footer {
    font-size: .8em
}

.swal2-popup.swal2-toast .swal2-close {
    grid-column: 3/3;
    grid-row: 1/99;
    align-self: center;
    width: .8em;
    height: .8em;
    margin: 0;
    font-size: 2em
}

.swal2-popup.swal2-toast .swal2-html-container {
    margin: .5em 1em;
    padding: 0;
    overflow: initial;
    font-size: 1em;
    text-align: initial
}

.swal2-popup.swal2-toast .swal2-html-container:empty {
    padding: 0
}

.swal2-popup.swal2-toast .swal2-loader {
    grid-column: 1;
    grid-row: 1/99;
    align-self: center;
    width: 2em;
    height: 2em;
    margin: .25em
}

.swal2-popup.swal2-toast .swal2-icon {
    grid-column: 1;
    grid-row: 1/99;
    align-self: center;
    width: 2em;
    min-width: 2em;
    height: 2em;
    margin: 0 .5em 0 0
}

.swal2-popup.swal2-toast .swal2-icon .swal2-icon-content {
    display: flex;
    align-items: center;
    font-size: 1.8em;
    font-weight: 700
}

.swal2-popup.swal2-toast .swal2-icon.swal2-success .swal2-success-ring,
.swal2-popup.swal2-toast .swal2-success .swal2-success-ring {
    width: 2em;
    height: 2em
}

.swal2-popup.swal2-toast .swal2-icon.swal2-error [class^=swal2-x-mark-line] {
    top: .875em;
    width: 1.375em
}

.swal2-popup.swal2-toast .swal2-icon.swal2-error [class^=swal2-x-mark-line][class$=left] {
    left: .3125em
}

.swal2-popup.swal2-toast .swal2-icon.swal2-error [class^=swal2-x-mark-line][class$=right] {
    right: .3125em
}

.swal2-popup.swal2-toast .swal2-actions {
    justify-content: flex-start;
    height: auto;
    margin: .5em 0 0;
    padding: 0 .5em
}

.swal2-popup.swal2-toast .swal2-styled {
    margin: .25em .5em;
    padding: .4em .6em;
    font-size: 1em
}

.swal2-popup.swal2-toast .swal2-success {
    border-color: #a5dc86
}

.swal2-popup.swal2-toast .swal2-success [class^=swal2-success-circular-line] {
    position: absolute;
    width: 1.6em;
    height: 3em;
    border-radius: 50%
}

.swal2-popup.swal2-toast .swal2-success [class^=swal2-success-circular-line][class$=left] {
    top: -.8em;
    left: -.5em;
    transform: rotate(-45deg);
    transform-origin: 2em 2em;
    border-radius: 4em 0 0 4em
}

.swal2-popup.swal2-toast .swal2-success [class^=swal2-success-circular-line][class$=right] {
    top: -.25em;
    left: .9375em;
    transform-origin: 0 1.5em;
    border-radius: 0 4em 4em 0
}

.swal2-popup.swal2-toast .swal2-success .swal2-success-fix {
    top: 0;
    left: .4375em;
    width: .4375em;
    height: 2.6875em
}

.swal2-popup.swal2-toast .swal2-success [class^=swal2-success-line] {
    height: .3125em
}

.swal2-popup.swal2-toast .swal2-success [class^=swal2-success-line][class$=tip] {
    top: 1.125em;
    left: .1875em;
    width: .75em
}

.swal2-popup.swal2-toast .swal2-success [class^=swal2-success-line][class$=long] {
    top: .9375em;
    right: .1875em;
    width: 1.375em
}

.swal2-popup.swal2-toast .swal2-success.swal2-icon-show .swal2-success-line-tip {
    animation: swal2-toast-animate-success-line-tip .75s
}

.swal2-popup.swal2-toast .swal2-success.swal2-icon-show .swal2-success-line-long {
    animation: swal2-toast-animate-success-line-long .75s
}

.swal2-popup.swal2-toast.swal2-show {
    animation: swal2-toast-show .5s
}

.swal2-popup.swal2-toast.swal2-hide {
    animation: swal2-toast-hide .1s forwards
}

.is-animated.circle-check,
.swal2-active.swal2-error:after,
.swal2-active.swal2-error:before {
    animation-timing-function: ease-in-out;
    animation-fill-mode: both
}

div:where(.swal2-container) {
    display: grid;
    position: fixed;
    z-index: 1060;
    inset: 0;
    box-sizing: border-box;
    grid-template-areas: "top-start     top            top-end" "center-start  center         center-end" "bottom-start  bottom-center  bottom-end";
    grid-template-rows: minmax(min-content, auto) minmax(min-content, auto) minmax(min-content, auto);
    height: 100%;
    padding: .625em;
    overflow-x: hidden;
    transition: background-color .1s;
    -webkit-overflow-scrolling: touch
}

div:where(.swal2-container).swal2-backdrop-show,
div:where(.swal2-container).swal2-noanimation {
    background: rgba(0, 0, 0, .4)
}

div:where(.swal2-container).swal2-backdrop-hide {
    background: transparent !important
}

div:where(.swal2-container).swal2-bottom-start,
div:where(.swal2-container).swal2-center-start,
div:where(.swal2-container).swal2-top-start {
    grid-template-columns: minmax(0, 1fr) auto auto
}

div:where(.swal2-container).swal2-bottom,
div:where(.swal2-container).swal2-center,
div:where(.swal2-container).swal2-top {
    grid-template-columns: auto minmax(0, 1fr) auto
}

div:where(.swal2-container).swal2-bottom-end,
div:where(.swal2-container).swal2-center-end,
div:where(.swal2-container).swal2-top-end {
    grid-template-columns: auto auto minmax(0, 1fr)
}

div:where(.swal2-container).swal2-top-start>.swal2-popup {
    align-self: start
}

div:where(.swal2-container).swal2-top>.swal2-popup {
    grid-column: 2;
    place-self: start center
}

div:where(.swal2-container).swal2-top-end>.swal2-popup,
div:where(.swal2-container).swal2-top-right>.swal2-popup {
    grid-column: 3;
    place-self: start end
}

div:where(.swal2-container).swal2-center-left>.swal2-popup,
div:where(.swal2-container).swal2-center-start>.swal2-popup {
    grid-row: 2;
    align-self: center
}

div:where(.swal2-container).swal2-center-end>.swal2-popup,
div:where(.swal2-container).swal2-center-right>.swal2-popup {
    grid-column: 3;
    grid-row: 2;
    place-self: center end
}

div:where(.swal2-container).swal2-bottom-left>.swal2-popup,
div:where(.swal2-container).swal2-bottom-start>.swal2-popup {
    grid-column: 1;
    grid-row: 3;
    align-self: end
}

div:where(.swal2-container).swal2-bottom>.swal2-popup {
    grid-column: 2;
    grid-row: 3;
    place-self: end center
}

div:where(.swal2-container).swal2-bottom-end>.swal2-popup,
div:where(.swal2-container).swal2-bottom-right>.swal2-popup {
    grid-column: 3;
    grid-row: 3;
    place-self: end end
}

div:where(.swal2-container).swal2-grow-fullscreen>.swal2-popup,
div:where(.swal2-container).swal2-grow-row>.swal2-popup {
    grid-column: 1/4;
    width: 100%
}

div:where(.swal2-container).swal2-grow-column>.swal2-popup,
div:where(.swal2-container).swal2-grow-fullscreen>.swal2-popup {
    grid-row: 1/4;
    align-self: stretch
}

div:where(.swal2-container).swal2-no-transition {
    transition: none !important
}

div:where(.swal2-container) div:where(.swal2-popup) {
    display: none;
    position: relative;
    box-sizing: border-box;
    grid-template-columns: minmax(0, 100%);
    width: 32em;
    max-width: 100%;
    padding: 0 0 1.25em;
    border: none;
    border-radius: 5px;
    background: #fff;
    color: #545454;
    font-family: inherit;
    font-size: 1rem
}

div:where(.swal2-container) div:where(.swal2-popup):focus {
    outline: 0
}

div:where(.swal2-container) div:where(.swal2-popup).swal2-loading {
    overflow-y: hidden
}

div:where(.swal2-container) h2:where(.swal2-title) {
    position: relative;
    max-width: 100%;
    margin: 0;
    padding: .8em 1em 0;
    color: inherit;
    font-size: 1.875em;
    font-weight: 600;
    text-align: center;
    text-transform: none;
    word-wrap: break-word
}

div:where(.swal2-container) div:where(.swal2-actions) {
    display: flex;
    z-index: 1;
    box-sizing: border-box;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: auto;
    margin: 1.25em auto 0;
    padding: 0
}

div:where(.swal2-container) div:where(.swal2-actions):not(.swal2-loading) .swal2-styled[disabled] {
    opacity: .4
}

div:where(.swal2-container) div:where(.swal2-actions):not(.swal2-loading) .swal2-styled:hover {
    background-image: linear-gradient(rgba(0, 0, 0, .1), rgba(0, 0, 0, .1))
}

div:where(.swal2-container) div:where(.swal2-actions):not(.swal2-loading) .swal2-styled:active {
    background-image: linear-gradient(rgba(0, 0, 0, .2), rgba(0, 0, 0, .2))
}

div:where(.swal2-container) div:where(.swal2-loader) {
    display: none;
    align-items: center;
    justify-content: center;
    width: 2.2em;
    height: 2.2em;
    margin: 0 1.875em;
    animation: swal2-rotate-loading 1.5s linear infinite;
    border-radius: 100%;
    border-color: #2778c4 transparent;
    border-style: solid;
    border-width: .25em
}

div:where(.swal2-container) button:where(.swal2-styled) {
    margin: .3125em;
    padding: .625em 1.1em;
    transition: box-shadow .1s;
    box-shadow: 0 0 0 3px transparent;
    font-weight: 500
}

div:where(.swal2-container) button:where(.swal2-styled):not([disabled]) {
    cursor: pointer
}

div:where(.swal2-container) button:where(.swal2-styled).swal2-confirm {
    border: 0;
    border-radius: .25em;
    background: #7066e0;
    color: #fff;
    font-size: 1em
}

div:where(.swal2-container) button:where(.swal2-styled).swal2-confirm:focus {
    box-shadow: 0 0 0 3px rgba(112, 102, 224, .5)
}

div:where(.swal2-container) button:where(.swal2-styled).swal2-deny {
    border: 0;
    border-radius: .25em;
    background: #dc3741;
    color: #fff;
    font-size: 1em
}

div:where(.swal2-container) button:where(.swal2-styled).swal2-deny:focus {
    box-shadow: 0 0 0 3px rgba(220, 55, 65, .5)
}

div:where(.swal2-container) button:where(.swal2-styled).swal2-cancel {
    border: 0;
    border-radius: .25em;
    background: #6e7881;
    color: #fff;
    font-size: 1em
}

div:where(.swal2-container) button:where(.swal2-styled).swal2-cancel:focus {
    box-shadow: 0 0 0 3px hsla(208, 8%, 47%, .5)
}

div:where(.swal2-container) button:where(.swal2-styled).swal2-default-outline:focus {
    box-shadow: 0 0 0 3px rgba(100, 150, 200, .5)
}

div:where(.swal2-container) button:where(.swal2-styled):focus {
    outline: 0
}

div:where(.swal2-container) button:where(.swal2-styled)::-moz-focus-inner {
    border: 0
}

div:where(.swal2-container) div:where(.swal2-footer) {
    margin: 1em 0 0;
    padding: 1em 1em 0;
    border-top: 1px solid #eee;
    color: inherit;
    font-size: 1em;
    text-align: center
}

div:where(.swal2-container) .swal2-timer-progress-bar-container {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    grid-column: auto !important;
    overflow: hidden;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px
}

div:where(.swal2-container) div:where(.swal2-timer-progress-bar) {
    width: 100%;
    height: .25em;
    background: rgba(0, 0, 0, .2)
}

div:where(.swal2-container) img:where(.swal2-image) {
    max-width: 100%;
    margin: 2em auto 1em
}

div:where(.swal2-container) button:where(.swal2-close) {
    z-index: 2;
    align-items: center;
    justify-content: center;
    width: 1.2em;
    height: 1.2em;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: -1.2em;
    padding: 0;
    overflow: hidden;
    transition: color .1s, box-shadow .1s;
    border: none;
    border-radius: 5px;
    background: transparent;
    color: #ccc;
    font-family: monospace;
    font-size: 2.5em;
    cursor: pointer;
    justify-self: end
}

div:where(.swal2-container) button:where(.swal2-close):hover {
    transform: none;
    background: transparent;
    color: #f27474
}

div:where(.swal2-container) button:where(.swal2-close):focus {
    outline: 0;
    box-shadow: inset 0 0 0 3px rgba(100, 150, 200, .5)
}

div:where(.swal2-container) button:where(.swal2-close)::-moz-focus-inner {
    border: 0
}

div:where(.swal2-container) .swal2-html-container {
    z-index: 1;
    justify-content: center;
    margin: 1em 1.6em .3em;
    padding: 0;
    overflow: auto;
    color: inherit;
    font-size: 1.125em;
    font-weight: 400;
    line-height: normal;
    text-align: center;
    word-wrap: break-word;
    word-break: break-word
}

div:where(.swal2-container) div:where(.swal2-radio),
div:where(.swal2-container) input:where(.swal2-file),
div:where(.swal2-container) input:where(.swal2-input),
div:where(.swal2-container) label:where(.swal2-checkbox),
div:where(.swal2-container) select:where(.swal2-select),
div:where(.swal2-container) textarea:where(.swal2-textarea) {
    margin: 1em 2em 3px
}

div:where(.swal2-container) input:where(.swal2-file),
div:where(.swal2-container) input:where(.swal2-input),
div:where(.swal2-container) textarea:where(.swal2-textarea) {
    box-sizing: border-box;
    width: auto;
    transition: border-color .1s, box-shadow .1s;
    border: 1px solid #d9d9d9;
    border-radius: .1875em;
    background: transparent;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .06), 0 0 0 3px transparent;
    color: inherit;
    font-size: 1.125em
}

div:where(.swal2-container) input:where(.swal2-file).swal2-inputerror,
div:where(.swal2-container) input:where(.swal2-input).swal2-inputerror,
div:where(.swal2-container) textarea:where(.swal2-textarea).swal2-inputerror {
    border-color: #f27474 !important;
    box-shadow: 0 0 2px #f27474 !important
}

div:where(.swal2-container) input:where(.swal2-file):focus,
div:where(.swal2-container) input:where(.swal2-input):focus,
div:where(.swal2-container) textarea:where(.swal2-textarea):focus {
    border: 1px solid #b4dbed;
    outline: 0;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .06), 0 0 0 3px rgba(100, 150, 200, .5)
}

div:where(.swal2-container) input:where(.swal2-file)::placeholder,
div:where(.swal2-container) input:where(.swal2-input)::placeholder,
div:where(.swal2-container) textarea:where(.swal2-textarea)::placeholder {
    color: #ccc
}

div:where(.swal2-container) .swal2-range {
    margin: 1em 2em 3px;
    background: #fff
}

div:where(.swal2-container) .swal2-range input {
    width: 80%
}

div:where(.swal2-container) .swal2-range output {
    width: 20%;
    color: inherit;
    font-weight: 600;
    text-align: center
}

div:where(.swal2-container) .swal2-range input,
div:where(.swal2-container) .swal2-range output {
    height: 2.625em;
    padding: 0;
    font-size: 1.125em;
    line-height: 2.625em
}

div:where(.swal2-container) .swal2-input {
    height: 2.625em;
    padding: 0 .75em
}

div:where(.swal2-container) .swal2-file {
    width: 75%;
    margin-right: auto;
    margin-left: auto;
    background: transparent;
    font-size: 1.125em
}

div:where(.swal2-container) .swal2-textarea {
    height: 6.75em;
    padding: .75em
}

div:where(.swal2-container) .swal2-select {
    min-width: 50%;
    max-width: 100%;
    padding: .375em .625em;
    background: transparent;
    color: inherit;
    font-size: 1.125em
}

div:where(.swal2-container) .swal2-checkbox,
div:where(.swal2-container) .swal2-radio {
    align-items: center;
    justify-content: center;
    background: #fff;
    color: inherit
}

div:where(.swal2-container) .swal2-checkbox label,
div:where(.swal2-container) .swal2-radio label {
    margin: 0 .6em;
    font-size: 1.125em
}

div:where(.swal2-container) .swal2-checkbox input,
div:where(.swal2-container) .swal2-radio input {
    flex-shrink: 0;
    margin: 0 .4em
}

div:where(.swal2-container) label:where(.swal2-input-label) {
    display: flex;
    justify-content: center;
    margin: 1em auto 0
}

div:where(.swal2-container) div:where(.swal2-validation-message) {
    align-items: center;
    justify-content: center;
    margin: 1em 0 0;
    padding: .625em;
    overflow: hidden;
    background: #f0f0f0;
    color: #666;
    font-size: 1em;
    font-weight: 300
}

div:where(.swal2-container) div:where(.swal2-validation-message):before {
    content: "!";
    display: inline-block;
    width: 1.5em;
    min-width: 1.5em;
    height: 1.5em;
    margin: 0 .625em;
    border-radius: 50%;
    background-color: #f27474;
    color: #fff;
    font-weight: 600;
    line-height: 1.5em;
    text-align: center
}

div:where(.swal2-container) .swal2-progress-steps {
    flex-wrap: wrap;
    align-items: center;
    max-width: 100%;
    margin: 1.25em auto;
    padding: 0;
    background: transparent;
    font-weight: 600
}

div:where(.swal2-container) .swal2-progress-steps li {
    display: inline-block;
    position: relative
}

div:where(.swal2-container) .swal2-progress-steps .swal2-progress-step {
    z-index: 20;
    flex-shrink: 0;
    width: 2em;
    height: 2em;
    border-radius: 2em;
    background: #2778c4;
    color: #fff;
    line-height: 2em;
    text-align: center
}

div:where(.swal2-container) .swal2-progress-steps .swal2-progress-step.swal2-active-progress-step {
    background: #2778c4
}

div:where(.swal2-container) .swal2-progress-steps .swal2-progress-step.swal2-active-progress-step~.swal2-progress-step {
    background: #add8e6;
    color: #fff
}

div:where(.swal2-container) .swal2-progress-steps .swal2-progress-step.swal2-active-progress-step~.swal2-progress-step-line {
    background: #add8e6
}

div:where(.swal2-container) .swal2-progress-steps .swal2-progress-step-line {
    z-index: 10;
    flex-shrink: 0;
    width: 2.5em;
    height: .4em;
    margin: 0 -1px;
    background: #2778c4
}

div:where(.swal2-icon) {
    position: relative;
    box-sizing: content-box;
    justify-content: center;
    width: 5em;
    height: 5em;
    margin: 2.5em auto .6em;
    border: .25em solid #000;
    border-radius: 50%;
    font-family: inherit;
    line-height: 5em;
    cursor: default;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none
}

div:where(.swal2-icon) .swal2-icon-content {
    display: flex;
    align-items: center;
    font-size: 3.75em
}

div:where(.swal2-icon).swal2-error {
    border-color: #f27474;
    color: #f27474
}

div:where(.swal2-icon).swal2-error .swal2-x-mark {
    position: relative;
    flex-grow: 1
}

div:where(.swal2-icon).swal2-error [class^=swal2-x-mark-line] {
    display: block;
    position: absolute;
    top: 2.3125em;
    width: 2.9375em;
    height: .3125em;
    border-radius: .125em;
    background-color: #f27474
}

div:where(.swal2-icon).swal2-error [class^=swal2-x-mark-line][class$=left] {
    left: 1.0625em;
    transform: rotate(45deg)
}

div:where(.swal2-icon).swal2-error [class^=swal2-x-mark-line][class$=right] {
    right: 1em;
    transform: rotate(-45deg)
}

div:where(.swal2-icon).swal2-error.swal2-icon-show {
    animation: swal2-animate-error-icon .5s
}

div:where(.swal2-icon).swal2-error.swal2-icon-show .swal2-x-mark {
    animation: swal2-animate-error-x-mark .5s
}

div:where(.swal2-icon).swal2-warning {
    border-color: #facea8;
    color: #f8bb86
}

div:where(.swal2-icon).swal2-warning.swal2-icon-show {
    animation: swal2-animate-error-icon .5s
}

div:where(.swal2-icon).swal2-warning.swal2-icon-show .swal2-icon-content {
    animation: swal2-animate-i-mark .5s
}

div:where(.swal2-icon).swal2-info {
    border-color: #9de0f6;
    color: #3fc3ee
}

div:where(.swal2-icon).swal2-info.swal2-icon-show {
    animation: swal2-animate-error-icon .5s
}

div:where(.swal2-icon).swal2-info.swal2-icon-show .swal2-icon-content {
    animation: swal2-animate-i-mark .8s
}

div:where(.swal2-icon).swal2-question {
    border-color: #c9dae1;
    color: #87adbd
}

div:where(.swal2-icon).swal2-question.swal2-icon-show {
    animation: swal2-animate-error-icon .5s
}

div:where(.swal2-icon).swal2-question.swal2-icon-show .swal2-icon-content {
    animation: swal2-animate-question-mark .8s
}

div:where(.swal2-icon).swal2-success {
    border-color: #a5dc86;
    color: #a5dc86
}

div:where(.swal2-icon).swal2-success [class^=swal2-success-circular-line] {
    position: absolute;
    width: 3.75em;
    height: 7.5em;
    border-radius: 50%
}

div:where(.swal2-icon).swal2-success [class^=swal2-success-circular-line][class$=left] {
    top: -.4375em;
    left: -2.0635em;
    transform: rotate(-45deg);
    transform-origin: 3.75em 3.75em;
    border-radius: 7.5em 0 0 7.5em
}

div:where(.swal2-icon).swal2-success [class^=swal2-success-circular-line][class$=right] {
    top: -.6875em;
    left: 1.875em;
    transform: rotate(-45deg);
    transform-origin: 0 3.75em;
    border-radius: 0 7.5em 7.5em 0
}

div:where(.swal2-icon).swal2-success .swal2-success-ring {
    position: absolute;
    z-index: 2;
    top: -.25em;
    left: -.25em;
    box-sizing: content-box;
    width: 100%;
    height: 100%;
    border: .25em solid hsla(98, 55%, 69%, .3);
    border-radius: 50%
}

div:where(.swal2-icon).swal2-success .swal2-success-fix {
    position: absolute;
    z-index: 1;
    top: .5em;
    left: 1.625em;
    width: .4375em;
    height: 5.625em;
    transform: rotate(-45deg)
}

div:where(.swal2-icon).swal2-success [class^=swal2-success-line] {
    display: block;
    position: absolute;
    z-index: 2;
    height: .3125em;
    border-radius: .125em;
    background-color: #a5dc86
}

div:where(.swal2-icon).swal2-success [class^=swal2-success-line][class$=tip] {
    top: 2.875em;
    left: .8125em;
    width: 1.5625em;
    transform: rotate(45deg)
}

div:where(.swal2-icon).swal2-success [class^=swal2-success-line][class$=long] {
    top: 2.375em;
    right: .5em;
    width: 2.9375em;
    transform: rotate(-45deg)
}

div:where(.swal2-icon).swal2-success.swal2-icon-show .swal2-success-line-tip {
    animation: swal2-animate-success-line-tip .75s
}

div:where(.swal2-icon).swal2-success.swal2-icon-show .swal2-success-line-long {
    animation: swal2-animate-success-line-long .75s
}

div:where(.swal2-icon).swal2-success.swal2-icon-show .swal2-success-circular-line-right {
    animation: swal2-rotate-success-circular-line 4.25s ease-in
}

[class^=swal2] {
    -webkit-tap-highlight-color: transparent
}

.swal2-show {
    animation: swal2-show .3s;
    grid-column: 2;
    grid-row: 2;
    place-self: center center;
    display: grid
}

.swal2-hide {
    animation: swal2-hide .15s forwards
}

.swal2-noanimation {
    transition: none
}

.swal2-scrollbar-measure {
    position: absolute;
    top: -9999px;
    width: 50px;
    height: 50px;
    overflow: scroll
}

.swal2-rtl .swal2-close {
    margin-right: 0;
    margin-left: 0
}

.swal2-rtl .swal2-timer-progress-bar {
    right: 0;
    left: auto
}

@keyframes swal2-toast-show {
    0% {
        transform: translateY(-.625em) rotate(2deg)
    }

    33% {
        transform: translateY(0) rotate(-2deg)
    }

    66% {
        transform: translateY(.3125em) rotate(2deg)
    }

    to {
        transform: translateY(0) rotate(0)
    }
}

@keyframes swal2-toast-hide {
    to {
        transform: rotate(1deg);
        opacity: 0
    }
}

@keyframes swal2-toast-animate-success-line-tip {
    0% {
        top: .5625em;
        left: .0625em;
        width: 0
    }

    54% {
        top: .125em;
        left: .125em;
        width: 0
    }

    70% {
        top: .625em;
        left: -.25em;
        width: 1.625em
    }

    84% {
        top: 1.0625em;
        left: .75em;
        width: .5em
    }

    to {
        top: 1.125em;
        left: .1875em;
        width: .75em
    }
}

@keyframes swal2-toast-animate-success-line-long {
    0% {
        top: 1.625em;
        right: 1.375em;
        width: 0
    }

    65% {
        top: 1.25em;
        right: .9375em;
        width: 0
    }

    84% {
        top: .9375em;
        right: 0;
        width: 1.125em
    }

    to {
        top: .9375em;
        right: .1875em;
        width: 1.375em
    }
}

@keyframes swal2-show {
    0% {
        transform: scale(.7)
    }

    45% {
        transform: scale(1.05)
    }

    80% {
        transform: scale(.95)
    }

    to {
        transform: scale(1)
    }
}

@keyframes swal2-hide {
    0% {
        transform: scale(1);
        opacity: 1
    }

    to {
        transform: scale(.5);
        opacity: 0
    }
}

@keyframes swal2-animate-success-line-tip {
    0% {
        top: 1.1875em;
        left: .0625em;
        width: 0
    }

    54% {
        top: 1.0625em;
        left: .125em;
        width: 0
    }

    70% {
        top: 2.1875em;
        left: -.375em;
        width: 3.125em
    }

    84% {
        top: 3em;
        left: 1.3125em;
        width: 1.0625em
    }

    to {
        top: 2.8125em;
        left: .8125em;
        width: 1.5625em
    }
}

@keyframes swal2-animate-success-line-long {

    0%,
    65% {
        top: 3.375em;
        right: 2.875em;
        width: 0
    }

    84% {
        top: 2.1875em;
        right: 0;
        width: 3.4375em
    }

    to {
        top: 2.375em;
        right: .5em;
        width: 2.9375em
    }
}

@keyframes swal2-rotate-success-circular-line {

    0%,
    5% {
        transform: rotate(-45deg)
    }

    12%,
    to {
        transform: rotate(-405deg)
    }
}

@keyframes swal2-animate-error-x-mark {

    0%,
    50% {
        margin-top: 1.625em;
        transform: scale(.4);
        opacity: 0
    }

    80% {
        margin-top: -.375em;
        transform: scale(1.15)
    }

    to {
        margin-top: 0;
        transform: scale(1);
        opacity: 1
    }
}

@keyframes swal2-animate-error-icon {
    0% {
        transform: rotateX(100deg);
        opacity: 0
    }

    to {
        transform: rotateX(0);
        opacity: 1
    }
}

@keyframes swal2-rotate-loading {
    0% {
        transform: rotate(0)
    }

    to {
        transform: rotate(1turn)
    }
}

@keyframes swal2-animate-question-mark {
    0% {
        transform: rotateY(-1turn)
    }

    to {
        transform: rotateY(0)
    }
}

@keyframes swal2-animate-i-mark {
    0% {
        transform: rotate(45deg);
        opacity: 0
    }

    25% {
        transform: rotate(-25deg);
        opacity: .4
    }

    50% {
        transform: rotate(15deg);
        opacity: .8
    }

    75% {
        transform: rotate(-5deg);
        opacity: 1
    }

    to {
        transform: rotateX(0);
        opacity: 1
    }
}

body.swal2-shown:not(.swal2-no-backdrop):not(.swal2-toast-shown) {
    overflow: hidden
}

body.swal2-height-auto {
    height: auto !important
}

body.swal2-no-backdrop .swal2-container {
    background-color: transparent !important;
    pointer-events: none
}

body.swal2-no-backdrop .swal2-container .swal2-popup {
    pointer-events: all
}

body.swal2-no-backdrop .swal2-container .swal2-modal {
    box-shadow: 0 0 10px rgba(0, 0, 0, .4)
}

@media print {
    body.swal2-shown:not(.swal2-no-backdrop):not(.swal2-toast-shown) {
        overflow-y: scroll !important
    }

    body.swal2-shown:not(.swal2-no-backdrop):not(.swal2-toast-shown)>[aria-hidden=true] {
        display: none
    }

    body.swal2-shown:not(.swal2-no-backdrop):not(.swal2-toast-shown) .swal2-container {
        position: static !important
    }
}

body.swal2-toast-shown .swal2-container {
    box-sizing: border-box;
    width: 360px;
    max-width: 100%;
    background-color: transparent;
    pointer-events: none
}

body.swal2-toast-shown .swal2-container.swal2-top {
    inset: 0 auto auto 50%;
    transform: translateX(-50%)
}

body.swal2-toast-shown .swal2-container.swal2-top-end,
body.swal2-toast-shown .swal2-container.swal2-top-right {
    inset: 0 0 auto auto
}

body.swal2-toast-shown .swal2-container.swal2-top-left,
body.swal2-toast-shown .swal2-container.swal2-top-start {
    inset: 0 auto auto 0
}

body.swal2-toast-shown .swal2-container.swal2-center-left,
body.swal2-toast-shown .swal2-container.swal2-center-start {
    inset: 50% auto auto 0;
    transform: translateY(-50%)
}

body.swal2-toast-shown .swal2-container.swal2-center {
    inset: 50% auto auto 50%;
    transform: translate(-50%, -50%)
}

body.swal2-toast-shown .swal2-container.swal2-center-end,
body.swal2-toast-shown .swal2-container.swal2-center-right {
    inset: 50% 0 auto auto;
    transform: translateY(-50%)
}

body.swal2-toast-shown .swal2-container.swal2-bottom-left,
body.swal2-toast-shown .swal2-container.swal2-bottom-start {
    inset: auto auto 0 0
}

body.swal2-toast-shown .swal2-container.swal2-bottom {
    inset: auto auto 0 50%;
    transform: translateX(-50%)
}

body.swal2-toast-shown .swal2-container.swal2-bottom-end,
body.swal2-toast-shown .swal2-container.swal2-bottom-right {
    inset: auto 0 0 auto
}

.swal2-error {
    width: 120px;
    height: 120px;
    box-shadow: 0 10 10px 10px rgba(0, 0, 0, .25);
    border-radius: 6px;
    margin: 20px auto;
    position: relative;
    display: block;
    z-index: 200;
    text-indent: -9999px;
    cursor: pointer
}

.swal2-error:after,
.swal2-error:before {
    content: "";
    width: 50%;
    height: 6px;
    position: absolute;
    top: 48%;
    left: 10%;
    transform: rotate(180deg);
    background: #f33
}

.swal2-active.swal2-error:after,
.swal2-active.swal2-error:before {
    content: "";
    width: 60%;
    height: 6px;
    background: #f33;
    position: absolute;
    top: 48%;
    left: 20%;
    border-radius: 6px
}

.swal2-active.swal2-error:after {
    transform: rotate(-45deg);
    animation-name: rotate_error_after;
    animation-duration: .3s;
    animation-delay: .1s
}

.swal2-active.swal2-error:before {
    transform: rotate(45deg);
    animation-name: rotate_error_before;
    animation-duration: .3s;
    animation-delay: .1s
}

@keyframes rotate_error_after {
    0% {
        transform: rotate(0)
    }

    to {
        transform: rotate(-45deg)
    }
}

@keyframes rotate_error_before {
    0% {
        transform: rotate(0)
    }

    to {
        transform: rotate(45deg)
    }
}

.circle-check {
    fill: none;
    fill-opacity: 0;
    stroke: #59d440;
    stroke-width: 4px;
    stroke-dasharray: 0 100;
    width: 120px;
    height: 120px
}

@keyframes dasharray {
    0% {
        stroke-dasharray: 0 100
    }

    to {
        stroke-dasharray: 100 0
    }
}

.is-animated.circle-check {
    animation-name: dasharray;
    animation-duration: .5s;
    animation-delay: .3s
}

@media (max-width:700px) {
    .swal2-show {
        display: block;
        width: 100%;
        bottom: 0;
        grid-row: unset;
        grid-column: unset;
        position: fixed;
        max-width: none;
        border-radius: 32px 32px 0 0
    }

    .swal2-sub-footer {
        padding-bottom: 30px
    }
}